.container {
    background-color: #0C0C0C;
    padding: 19px 0px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo img {
    object-fit: contain;
}

.logo svg {
    display: none;
}

.wrapper nav {
    display: flex;
    align-items: center;
    gap: 36px;
}

.wrapper nav a {
    color: white;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0%;
}

@media screen and (max-width: 500px) {

    .wrapper,
    .wrapper nav {
        flex-direction: column;
        gap: 24px;
    }

    .logo {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo img {
        object-fit: cover;
    }

    .logo svg {
        display: block;
    }

    .wrapper nav {
        display: none;
    }

    .mobile nav {
        display: flex;
    }
}