.container {
    background-color: #0C0C0C;
    padding: 19px 0px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo h2 {
    color: white;
    font-weight: 400;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0%;
}

.wrapper nav {
    display: flex;
    align-items: center;
    gap: 36px;
}

.wrapper nav a {
    color: white;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0%;
}