.container {
    padding: 80px 0px;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 55px;
}

.container>h2 {
    color: white;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0%;
    text-align: center;
}

.container p {
    color: white;
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: center;
    width: 894px;
}

@media screen and (max-width: 500px) {
    .container {
        padding: 40px 20px;
        gap: 40px;
        width: 100%;
    }

    .container>h2 {
        font-size: 28px;
    }

    .container p {
        width: 100%;
        font-size: 12px;
    }
}