.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 55px;
    margin-top: 80px;
}

.container>h2 {
    color: white;
    font-weight: 400;
    font-size: 48px;
    line-height: 50px;
    letter-spacing: 0%;
    text-align: center;
}

.body {
    width: 100%;
    display: flex;
    gap: 25px;
    /* justify-content: space-between; */
}

.container>a {
    background-color: #B20077;
    padding: 10.5px 31.5px;
    border-radius: 21px;
    box-shadow: 0px 4px 6px 0px #0000009E;
    color: white;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0%;
}