.container {
    background-image: url("../../public/images/vip.png");
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.container>h2 {
    color: white;
    font-weight: 400;
    font-size: 48px;
    line-height: 50px;
    letter-spacing: 0%;
    text-align: center;
}

.container>p {
    color: white;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0%;
}

.body {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.single {
    display: flex;
    align-items: center;
    gap: 21px;
}

.single div {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: #D9D9D9;
}

.single p {
    color: white;
    font-weight: 500;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0%;
}

.container>a {
    background-color: #B20077;
    padding: 10.5px 31.5px;
    border-radius: 21px;
    box-shadow: 0px 4px 6px 0px #0000009E;
    color: white;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0%;
}